/* GLOBAL */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    font-family: 'Roboto Condensed', "Arial", "sans-serif";
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1200;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* GLOBAL WRAPPER */

.global-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* HERO */

.hero {
    width: 100%;
    max-width: 600px;
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fon-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero-content {
    max-width: 285px;
    
    
}
.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', "Roboto Condensed", "Arial", "sans-serif";
}

.main-link {
    display: inline-block;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', "Roboto Condensed", "Arial", "sans-serif";
    transition: 0.6s ease;
}

.main-link-inner {
    display: flex;
    padding: 12px 24px;
    transition: 0.5s ease;
}

.main-link:hover {
    opacity: 0.6;
    background-color: rgba(30, 144, 255, 0.6);
}

.main-link:active {
    opacity: 0.8;
}

.main-link-inner::before {
    content:" ";
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("../img/star-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

/* RETINA BG */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url("../img/fon-bg@2x.png");
    }
}

/* MAIN */

.latest-videos {
    width: 100%;
    max-width: 600px;
}


.latest-videos-heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #222222;
    margin-bottom: 24px;
    margin-top: 54px;
    font-family: 'Bebas Neue', "Roboto Condensed", "Arial", "sans-serif";
}

.iteam-latest-videos-img {
    width: 160px;
    height: auto;
    border-radius: 4px;
    margin-right: 16px;
}

.iteam-latest-videos-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #222222;
    font-family: 'Bebas Neue', "Roboto Condensed", "Arial", "sans-serif";
    transition: 0.3s ease;
}

.iteam-latest-videos-link:hover{
    opacity: 0.8;
    color: #1E90FF;
}
.iteam-latest-videos-link:active{
    opacity: 0.6;
}

.iteam-latest-videos-meta {
    display: flex;
    margin-bottom: 10px;
}

.latest-videos-iteam {
    list-style: none;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
}


.iteam-latest-videos-info {
    
    
}
.iteam-latest-videos-heading {
    margin-bottom: 4px;
    margin: 0;
}

.iteam-latest-videos-published-at {
    display: flex;
    margin-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
}

.iteam-latest-videos-published-at::before {
    background-image: url("../img/Vector.svg");
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 4px;
}

.iteam-latest-videos {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0;
    margin-bottom: 10px;
}

.iteam-latest-videos-views {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}
.iteam-latest-videos-views::before {
    background-image: url("../img/visibility_black_24dp\ 1.svg");
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


.latest-videos-list {
    margin: 0;
    padding: 0;
}

.latest-videos {
    padding-right: 54px;
    padding-left: 54px;
}

.letest-videos-line {
    color: #999999;
    margin: 0;
    margin-bottom: 24px;
}

.latest-videos-link {
    margin-top: 23px;
}

.latest-videos-link-reolad {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: #1E90FF;
    padding: 16px 209px;
    border-radius: 4px;
    transition: 0.3s ease;
}

.latest-videos-link-reolad:hover{
    opacity: 0.8;
    background-color: rgba(30, 144, 255, 0.8);
}
.latest-videos-link-reolad:active{
    opacity: 0.6;
}